<p>getting started test.erb page</p>

<ul>
  <% @files.each do |file_path| %>
  <li>
    <a href="/<%= base_name(file_path) %>"><%= base_name(file_path) %></a>
    <a href="/<%= base_name(file_path) %>/edit">edit</a>
  </li>
  <% end %>
</ul>
