<!DOCTYPE html>
<html lang='en'>

<head>
    <title>File CMS</title>
    <link rel="stylesheet" href="/stylesheets/whitespace-reset.css">
    <link rel="stylesheet" href = "/stylesheets/application.css">
</head>

<body>
  <header>
    <h1>My awesome app</h1>
  </header>
    <% if @error %>
      <div id="msg">
        <p><%== session[:previous_path] %> does not exist!!</p>
      </div>
    <% end %>
  <section>
    <%= yield %>
  </section>
</body>

</html>
