<!DOCTYPE html>
<html lang='en'>

<head>
    <title>your page title goes here</title>
</head>

<body>
  <header>
    <h1>My awesome app</h1>
  </header>
    <% if @error %>
      <div id="msg">
        <p><%== session[:previous_path] %> does not exist!!</p>
      </div>
    <% end %>
  <section>
    <%= yield %>
  </section>
</body>

</html>
