body {
    padding: 1em;
    font-family: sans-serif;
}

/* mark {
    background: yellow;
} */

.message {
    padding: 10px;
    background: #FFFF99;
}

form.inline {
    display: inline;
}

form.grid {
    display: grid;
}

form.float_left {
    float: left;
}

.user-status {
    font-style: italic;
    font-size: 0.9em;
  }